

.auth-form .form-control {
    height: 45px;
    padding: 5px 5px;
}

.ggl {
    background: #cecece;
}


.input-group {
    padding-bottom: 20px;
}

.auth-form textarea {
    height: 300px !important;
}


.go-back {
    background: #a4aecf;
}






// .tox .tox-notification--in {
//     opacity: 0 !important;
//     display: none !important;
// }

// .mce {display: none !important;}


.auth-card {
    width: 850px;
}