.theme-bg {
    background: linear-gradient(to right, #260029 0%, #00001d 100%);

}


.auth-card {

    background-color: transparent !important;
}


.main {
    background-color: transparent !important;
}

.auth-form .or-saparator span {
    background-color: transparent !important;
}