<app-header></app-header>



<section class="theme-bg home">

  <div class="animation-circle-inverse absolute">
      <i></i>
      <i></i>
      <i></i>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="home-contain">
                  <div class="fadeInLeft-land-caption">
                      <h2 class="landing-caption text-white">Best Web App For All Your Needs.. !</h2>
                      <p class="text-white">Perfect development for mobile applications </p>
                      <div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6 right">
              <div class="home-right">
                    
                  <div class="mobile-slid">

                      <img src="assets/images/demo/home/weightlifting.png" alt="top1" class="img-fluid">
                  </div>

                  <a [routerLink]="'/blog/list'" >
                  <div class="gym">
                      <img src="assets/images/demo/home/gym-app.png" alt="top3" class="img-fluid">
                  </div>
              </a>
             
                  <div class="game">
                      <img src="assets/images/demo/home/game-app.png" alt="top4" class="img-fluid">
                  </div>
                  <div class="msg">
                      <img src="assets/images/demo/home/messanger.png" alt="top5" class="img-fluid">
                  </div>
                  <div class="broweser">
                      <img src="assets/images/demo/home/browser.png" alt="top1" class="img-fluid">
                  </div>

              </div>
          </div>
      </div>
  </div>
</section>

