<div class="col-lg-6 col-md-12">
    <div class="item news-slid">
        <a [routerLink]="'/blog/details'">
            <div class="news-box">
                <img src="assets/images/blog/1.jpg" alt="news-1" class="img-fluid">
            </div>
        </a>
        <div class="news-text">
            <div class="blog-hover">
                <h4>This is my blog</h4>
                <ul class="list-inline blog-details-list">
                    <li><a href="javascript:void(0)">John Doe</a></li>
                    <li><a href="javascript:void(0)">1 Oct</a></li>
                    <li><a href="javascript:void(0)">25 comments</a></li>
                    <li><a href="javascript:void(0)">3 View</a></li>
                </ul>
            </div>
            <p>lorem ipsum dolor sit amet, consecteturamet adipisicing elit, tempor incididunt ut labore. lorem ipsum dolor sit amet.</p>
            <div class="btn-theme">View more</div>
        </div>
    </div>
</div>